// Mixins
@mixin ghostButton($color) {
    background-color: $white;
    border: 1px solid $color;
    color: $color;
}

@mixin button($bgcolor, $color) {
    background-color: $bgcolor;
    border: 1px solid $color;
    color: $color;
}