// Variables

// Colors
$black: #252525;
$blue: #42A5F5;
$green: #50f725;
$grey: #717271;
$primary-color: #e2fbff;
$react-blue: #61DAFB;
$red: #f72550;
$white: #FFFFFF;

// Fonts
$primary-font: 'Quicksand', sans-serif;